.authBox{
  width: 800px;
  overflow: hidden;
  margin: 80px auto 30px;
}

.rBox{
  width: 345px;
  height: 540px;
  float: right;
  position: relative;
  display: block;
  
}

.bBlue{
  width: 100%;
  height:100%;
  background-color:rgb(52, 52, 56);
  border-top-right-radius: 90px;
}

.imageAth{
  background-image: url("Images/download.jpg") ;
  width: 100%;
  height: 100%;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 90px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
}

.imageText{
  font-size: 28px;
  position: absolute;
  color: #ffffffda;
}

.imageText.bold{
  font-weight: bold;
}

.imageText.style1{
  top:190px;
  left: 20px;
}

.imageText.style2{
  top: 250px;
  left: 20px;
}

.imageText.style3{
  top: 450px;
  left: 30px;
  font-size: 17px;
}

.lBox{
  width: 453px;
  height: 538px;
  float: left;
  border: 1px solid#1d1d1f;
  background-color: #ffffff;
}

.bo{
  width: 310px;
  height: 415px;
  margin-top: 110px;
  padding-left:50px;
}

.titleAth{
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
  color:#0c0c0c;;
}

.inputBox{
  width: 300px;
  height: 30px;
  margin-bottom: 30px;
}

.input{
  width: 100%;
  height: 75%;
  font-size: 12px;
  color: #37353f;
  text-indent: 10px;
  border: 0;
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 10px;
  outline: none;
}

.btnAth{
  width: 300px;
  height: 47px;
  color: #ffffff;
  background-color: rgb(50, 50, 51);
  text-align: center;
  line-height: 47px;
  border-radius: 4px;
 ;
}


.text3{
 margin-top: 35px;
}

@media screen and (min-width: 1400px){
  
    .rBox{
      width: 344.5px;
      float: right;
    }

    .lBox{
      width: 453px;
      border: 0.5;
      float:left;  
    }
    
  }

  @media screen and (min-width: 1800px){

   
    .rBox{
      width: 344.5px;
      float: right;
    }

    .lBox{
      width: 452.5px;
      border: 0.5;
      float:left;  
    }
    
  }

  
  @media screen and (min-width: 2600px){

    .rBox{
      display: none;
    }

    .lBox{
      width: 452px;
      border: 0.5;
      float:center;  
    }
    
  }